html { 
	height: 100% 
}

body { 
	height: 100%; 
	min-width: 960px;
	margin: 0; 
	padding: 0 
}

#wrapper {
	position: relative;
}

#map-canvas { 
	height: 300px; 
	z-index: 1;
}

#help {
	position: absolute;
	width: 50%;
	height: 360px;
	min-width: 480px;
	margin-left: -25%;
	margin-top: -180px;
	left: 50%;
	top: 50%;
	z-index: 100;
	background: rgba(34, 29, 60, 0.8);
}

#cursor-canvas {
	position: absolute;
	z-index: 9999;
}